*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

#welcome_board{
  background-size: cover;
  background-color: khaki;
  background-image: url(/storage/images/background.png);
}

.container-item {
  margin: 30px 0;
  border-bottom: 2px solid #38c172;
}

.page-info {
  text-align: end;
  font-size: 1.5rem;
}

.hosted {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: $green;
  color: #fff;
}

main {
  padding: 3rem 0;
  min-height: 90vh;
  background-color: #8fbc8f;
  background-image: url('/storage/images/logo_alpha.png');
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}
