.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    #loader {
      width: 100px;
      height: 100px;
    }

    #layer2 {
      transform-origin: 50% 50%;
      transform-box: fill-box;
      animation: loading 1.6s infinite;
    }
    #up{
      animation: floating 1.6s infinite;
    }
  }
}

@keyframes loading {
	0%		{transform: rotate(0deg);}
    60% 	{transform: rotate(-360deg);}
	100%	{transform: rotate(-360deg);}
}
@keyframes floating {
	0%	{
		transform: translateY(10px);
		opacity:0;
	}
	65%	{
		transform: translateY(0);
		opacity:1;
	}
    100% {
		transform: translateY(-100px);
		opacity:0;
	}
}
