.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  right: 0;
  top: 0;
  z-index: 3;

  &__brand {
    color: inherit;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    
    &--logo {
      margin-right: 30px;
      width: 100px;
    }

    &:visited {
      color: inherit;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__menu {
    align-items: center;
    display: flex;
    font-size: 2rem;
  }

  &__item {
    margin-left: 1rem;
  }
}

/* スマートフォン用 */
@media only screen and (max-width: 575px) {
  .navbar__menu {font-size: 1.5rem;} 
}
