.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  color: #fff;
  
  &__h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
  }
  
  &__h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
    color: #fff;
  } 
}
